* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #0f0f0f;
  font-family: Roboto, sans-serif;
}
header {
  height: 123px;
  padding-inline: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header img {
  width: 70px;
  height: 70px;
}
.img_rotate {
  transform: rotate(90deg);
}
header nav {
  height: 100px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  gap: 20px;
}
ul li {
  height: 63px;
  border-radius: 12px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul .first_child {
  width: 104px;
  background-color: #1a1a1a;
  cursor: pointer;
}
ul .first_child:hover {
  animation: backgroundChange 1s forwards;
}
ul .first_child a {
  color: #ffffff;
}
ul .last_child {
  width: 135px;
  border: 1px dashed #555555;
  cursor: pointer;
}
ul .last_child:hover {
  animation: bachgraundChangeX 1s forwards;
}
ul .last_child a {
  color: #b3b3b2;
}
nav img {
  width: 151px;
  height: 28px;
}
.header_actions {
  display: flex;
  gap: 10px;
}
.header_actions span {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 12px;
}
.header_actions span img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.header_actions button {
  width: 136px;
  height: 63px;
  background-color: #ae9b84;
  border-radius: 12px;
  font-size: 18px;
  color: #0f0f0f;
  cursor: pointer;
}
.header_actions button:hover {
  animation: backgraundChangeY 1s forwards;
}

@keyframes backgroundChange {
  from {
    background-color: #1a1a1a;
  }
  to {
    background-color: #464646;
  }
}

@keyframes bachgraundChangeX {
  from {
    background-color: #0f0f0f;
  }
  to {
    background-color: #333333;
  }
}
@keyframes backgraundChangeY {
  from {
    background-color: #ae9b84;
  }
  to {
    background-color: #493723;
  }
}
